/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import"bootstrap";
 @import"star_rate";

 body {
    padding: 62px 0;
    background-color: rgba(201, 185, 147, 0.4);
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    color: #4f342c
  };

 .title-text{
  font-size: 70px;
  color: rgb(209, 187, 172);
  font-family: 'Dosis', sans-serif;
 };

 .title-detail-text{
  color: rgb(209, 187, 172);
 }

 .top-image{
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 .title-image{
  width: 10rem;
  height: 10rem;
 }

 .line{
    margin-left: auto;
    margin-right: auto;
 };

 .back-button{
  font-size: 45px;
  color: #4f342c;
 }

 .under-line{
  border-bottom: solid 2px whitesmoke;
 }

 .under-line-dot{
  border-bottom: dotted 2px whitesmoke;
 }

 .sort-button{
  font-size: 16px;
  color: #4f342c;
  background-color: #C9B993;
  border-color: #C9B993;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  padding: 0px 5px;
  display: inline-block;
  font-weight: 400;
  line-height: 3;
  text-indent: 20%;
 }

 .index-reading-text{
  font-size: 11px;
 }

 .fa-edit{
  color: #4f342c;
 }

 .navbar-dark{
  background-color: #4f342c;
  opacity: 0.75;
 }

 .drop-down-text{
  font-size: 1.5rem;
 }

 .drop-down-icon{
  font-size: 1.5rem;
  vertical-align: center;
 }

 .header-title{
  color: rgb(241, 224, 212);
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
 }

 .header-icon{
  width: 2rem;
  height: 2rem;
 }

 .navbar-toggler-icon{
  font-size: 1.5rem;
 }

.btn-dark {
  background: whitesmoke; //ボタンの背景色
  color: #4f342c; //ボタンのテキストの色
  border-radius: 30px;
}

.btn-dark:hover, .btn-dark:focus, 
.btn-dark:active, .btn-dark:active:focus, .btn-dark:active:hover, .btn-dark:active.focus,
.btn-dark.active, .btn-dark.active:focus, .btn-dark.active:hover, .btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark, 
.open > .dropdown-toggle.btn-dark:hover,
.open > .dropdown-toggle.btn-dark:focus, 
.open > .dropdown-toggle.btn-dark.focus,
.btn-dark.disabled:hover, .btn-dark[disabled]:hover, fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus, .btn-dark[disabled]:focus, fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus, .btn-dark[disabled].focus, fieldset[disabled] .btn-dark.focus {
  background: #4f342c; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
  color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.btn-dark.outline {
  border: 3px solid #4f342c; //アウトラインのみのボタンの線の色
  color: #4f342c; //アウトラインのみのボタンのテキストの色
}

.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #4f342c;
  border-color: #4f342c;
}

.alert-success {
  color: #4f342c;
  background-color: #C9B993;
  border-color: #C9B993;
}

.info-icons{
  font-size: 36px;
  display: table-cell;
  vertical-align: middle;
}

.fa-heart{
  color: palevioletred
}

.brown{
  color: #4f342c;
  text-decoration: none;
}